{% extends 'base.html.twig' %}

{% block title %}Step 3{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/forms.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/form3.css') }}" rel="stylesheet">
{% endblock %}

{% block navigation %}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="{{ asset('assets/images/switchboo_white.png') }}" class="img-fluid" alt=""/>
        </a>

        <form class="form-inline">
            <a href="{{ path('switch_step', {'step': 2}) }}">
                <span class="navbar-text">
                    <span>Back</span>
                </span>
            </a>
        </form>
    </nav>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="form-container">
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">

                <div class="step-bar"></div>
                <div class="step-bar"></div>
                <div class="step-bar active"></div>
                <div class="step-bar"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-6 offset-md-3 text-center" id="step-text">
                <h5>Wow you can save <span id="save-total">302.71</span> by switching over to <span id="new-supplier">British Gas</span>
                </h5>
                <p>This is the cheapest deal available</p>
            </div>
        </div>


        <!-- end of top bars -->


        <!-- main form content -->

        <div class="row">
            <div class="col-10 col-lg-8 offset-lg-2 offset-1" id="form-control">


                <div class="row result-row">

                    <!-- image column -->
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="column-title supplier-title">Supplier</h5>
                            </div>
                            <div class="col-12">
                                <div id="british-gas"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end of image column -->


                    <!-- type column -->
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="column-title">Type</h5>
                            </div>
                            <div class="col-12">
                                <p class="column-inner-text r-m-bottom">Monthly Direct Debit</p>
                                <p class="column-inner-text">12 months fixed plan</p>

                                <p class="column-inner-text">View tariff details</p>
                            </div>
                        </div>
                    </div>
                    <!-- end of type column -->


                    <!-- personal projection column -->
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="column-title">Personal Projection</h5>
                            </div>
                            <div class="col-12">
                                <p class="column-inner-text r-m-bottom">1050 per year</p>
                                <p class="column-inner-text">87.50 per month</p>
                            </div>
                        </div>
                    </div>
                    <!-- end of personal projection column -->


                    <!-- savings column -->
                    <div class="col-12 col-md-2">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="column-title">Savings</h5>
                            </div>
                            <div class="col-12">
                                <h5 class="column-price-value">302.71</h5>
                                <h5 class="column-price-button active">Select</h5>
                            </div>
                        </div>
                    </div>
                    <!-- end of savings column -->

                </div>


                <div class="row">
                    <p id="view-more"><a>View more results</a></p>
                </div>


                <div class="hidden">

                    <div class="row result-row">

                        <!-- image column -->
                        <div class="col-12 col-md-4">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="column-title supplier-title">Supplier</h5>
                                </div>
                                <div class="col-12">
                                    <div id="SSE"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end of image column -->


                        <!-- type column -->
                        <div class="col-12 col-md-3">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="column-title">Type</h5>
                                </div>
                                <div class="col-12">
                                    <p class="column-inner-text r-m-bottom">Monthly Direct Debit</p>
                                    <p class="column-inner-text">12 months fixed plan</p>

                                    <p class="column-inner-text">View tariff details</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of type column -->


                        <!-- personal projection column -->
                        <div class="col-12 col-md-3">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="column-title">Personal Projection</h5>
                                </div>
                                <div class="col-12">
                                    <p class="column-inner-text r-m-bottom">1050 per year</p>
                                    <p class="column-inner-text">87.50 per month</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of personal projection column -->


                        <!-- savings column -->
                        <div class="col-12 col-md-2">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="column-title">Savings</h5>
                                </div>
                                <div class="col-12">
                                    <h5 class="column-price-value">213.12</h5>
                                    <h5 class="column-price-button">Select</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end of savings column -->

                    </div>


                    <div class="row result-row">

                        <!-- image column -->
                        <div class="col-12 col-md-4">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="column-title supplier-title">Supplier</h5>
                                </div>
                                <div class="col-12">
                                    <div id="EDF"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end of image column -->


                        <!-- type column -->
                        <div class="col-12 col-md-3">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="column-title">Type</h5>
                                </div>
                                <div class="col-12">
                                    <p class="column-inner-text r-m-bottom">Monthly Direct Debit</p>
                                    <p class="column-inner-text">12 months fixed plan</p>

                                    <p class="column-inner-text">View tariff details</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of type column -->


                        <!-- personal projection column -->
                        <div class="col-12 col-md-3">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="column-title">Personal Projection</h5>
                                </div>
                                <div class="col-12">
                                    <p class="column-inner-text r-m-bottom">1050 per year</p>
                                    <p class="column-inner-text">87.50 per month</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of personal projection column -->


                        <!-- savings column -->
                        <div class="col-12 col-md-2">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="column-title">Savings</h5>
                                </div>
                                <div class="col-12">
                                    <h5 class="column-price-value">105.21</h5>
                                    <h5 class="column-price-button">Select</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end of savings column -->

                    </div>


                </div>


                <!-- next page button -->
                <div class="row question-row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-7 col-lg-5 offset-lg-7 col-xl-4 offset-xl-8">
                        <a href="form-4.html">
                            <button type="submit" class="btn btn-primary black-button"><span class="white-underline">SWITCH NOW</span>
                            </button>
                        </a>
                        <p class="next-lower-text">Good on you!</p>
                    </div>
                </div>
                <!-- end of next page button -->


            </div>

        </div>

        <!-- end of main form content -->

        <!-- start of footer -->
        <div class="row" id="footer">
            <div class="col-12 text-center">
                <h4>If you get stuck, give us a a call on 0800 4211 3213</h4>
            </div>
        </div>
        <!-- end of footer -->

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/forms.js') }}"></script>
{% endblock %}
