{% extends 'base.html.twig' %}

{% block title %}Step 2{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/forms.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/form2.css') }}" rel="stylesheet">
{% endblock %}

{% block navigation %}
    <nav class="navbar navbar-light bg-light">
        <span id="nav-brand">
        <a href="../../" target="_blank" class="navbar-brand">
            <img src="{{ asset('assets/images/switchboo_white.png') }}" class="img-fluid" alt=""/>
        </a>
        </span>

        <form class="form-inline">
            <a href="{{ path('switch_step', {'step': 1}) }}">
                <span class="navbar-text">
                    <span>Back</span>
                </span>
            </a>
        </form>
    </nav>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="form-container">
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center" id="step-bars">

                <div class="step-bar"></div>
                <div class="step-bar active"></div>
                <div class="step-bar"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-6 offset-md-3 text-center" id="step-text">
                <h5>You're a few questions away from saving money on your energy bills</h5>
                <p>Don't worry our service is free and it will only take 2 minutes</p>
            </div>
        </div>


        <!-- end of top bars -->


        <!-- main form content -->

        <div class="row">
            <div class="col-10 col-lg-8 col-xl-6 offset-xl-3 offset-lg-2 offset-1" id="form-control">
                {{ form_start(form) }}


                <!-- first question -->
                <div class="row question-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 question-title">
                                <h5>How much gas do you use? (show if gas or gas and electricity picked on form-1)</h5>
                                <p>Please select one of the options</p>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="quote_step_two[selectedGasSpend]"
                                           value="1"
                                           class="custom-control-input"
                                           {% if form.selectedGasSpend.vars.data == true %}checked{% endif %}>
                                    <label class="custom-control-label" for="customRadio1"></label>
                                </div>
                            </div>

                            <div class="col-5 col-md-2 col-lg-3">
                                <h6 class="bold">I spend</h6>
                            </div>

                            <div class="col-5 col-md-3 col-lg-3 num-input">
                                <div class="form-group">
                                    {{ form_widget(form.gasMoneySpend) }}
                                </div>
                            </div>


                            <div class="col-1 d-hide"></div>
                            <div class="col-3 col-md-1 col-lg-1 per-container">
                                <h6 class="bold form-per">per</h6>
                            </div>

                            <div class="col-7 col-md-4 col-lg-3 duration-selector">
                                {{ form_widget(form.gasMoneyPerType) }}
                            </div>
                        </div>

                        <div class="row form-split">

                            <div class="col-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="quote_step_two[selectedGasSpend]"
                                           value="0"
                                           class="custom-control-input"
                                           {% if form.selectedGasSpend.vars.data == false %}checked{% endif %}>
                                    <label class="custom-control-label" for="customRadio2"></label>
                                </div>
                            </div>

                            <div class="col-3 col-md-2 col-lg-3">
                                <h6 class="bold">I use</h6>
                            </div>

                            <div class=" col-7 col-md-3 num-input">
                                <div class="form-group">
                                    {{ form_widget(form.gasUseKWH) }}
                                </div>
                            </div>


                            <div class="col-1 d-hide"></div>
                            <div class="col-10 col-md-6 per-container">
                                <h6 class="bold per-year">per year</h6>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- end of first question -->


                <!-- second question -->
                <div class="row question-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 question-title">
                                <h5>How much electricity do you use? (hide if economy 7 meter is selected or just gas is picked on form-1)</h5>
                                <p>Please select one of the options</p>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="quote_step_two[selectedElecSpend]"
                                           class="custom-control-input" value="1"
                                           {% if form.selectedElecSpend.vars.data == true %}checked{% endif %}>
                                    <label class="custom-control-label" for="customRadio3"></label>
                                </div>
                            </div>

                            <div class="col-5 col-md-2 col-lg-3">
                                <h6 class="bold">I spend</h6>
                            </div>

                            <div class="col-5 col-md-3 col-lg-3 num-input">
                                <div class="form-group">
                                    {{ form_widget(form.elecMoneySpend) }}
                                </div>
                            </div>


                            <div class="col-1 d-hide"></div>
                            <div class="col-3 col-md-1 col-lg-1 per-container">
                                <h6 class="bold form-per">per</h6>
                            </div>

                            <div class="col-7 col-md-4 col-lg-3 duration-selector">
                                {{ form_widget(form.elecMoneyPerType) }}
                            </div>
                        </div>

                        <div class="row form-split">

                            <div class="col-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio4" name="quote_step_two[selectedElecSpend]" value="0"
                                           class="custom-control-input"
                                           {% if form.selectedElecSpend.vars.data == false %}checked{% endif %}>
                                    <label class="custom-control-label" for="customRadio4"></label>
                                </div>
                            </div>

                            <div class="col-3 col-md-2 col-lg-3">
                                <h6 class="bold">I use</h6>
                            </div>

                            <div class="col-7 col-md-3 num-input">
                                <div class="form-group">
                                    {{ form_widget(form.elecUseKWH) }}
                                </div>
                            </div>


                            <div class="col-1 d-hide"></div>
                            <div class="col-10 col-md-6 per-container">
                                <h6 class="bold per-year">per year</h6>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- end of second question -->




                <!-- second question -->
                <div class="row question-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 question-title">
                                <h5>How much electricity do you use? (show if economy 7 meter is selected and electricity or gas and electricity on form-1)</h5>
                                <p>Please select one of the options</p>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio5" name="abc"
                                           class="custom-control-input" value="1"
                                           {% if form.selectedElecSpend.vars.data == true %}checked{% endif %}>
                                    <label class="custom-control-label" for="customRadio3"></label>
                                </div>
                            </div>

                            <div class="col-4 col-md-2 col-lg-2">
                                <h6 class="bold">I use</h6>
                            </div>

                            <div class="col-6 col-md-3 col-lg-2 num-input">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="kWH">
                                </div>
                            </div>



                            <div class="col-10 offset-2 offset-sm-0 col-md-6 col-lg-5 per-container">
                                <h6 class="bold per-year per-day">per year in the day</h6>
                            </div>

                            <div class="col-12 col-md-2 col-lg-3">

                            </div>
                            <div class="col-12">
                                <div class="row night-usage-outer-container">
                                    <div class="col-9 col-md-3 col-lg-2 offset-md-3 offset-1 num-input custom-offset">
                                        <div class="form-group">
                                            <input type="text" class="form-control control-padding" id="" placeholder="kWH">
                                        </div>
                                    </div>


                                    <div class="col-1 d-hide"></div>
                                    <div class="col-10 col-md-6 col-lg-5 offset-1 offset-sm-0 per-container">
                                        <h6 class="bold per-year">per year at night</h6>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row form-split">

                            <div class="col-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio6" name="abc" value="0"
                                           class="custom-control-input"
                                           {% if form.selectedElecSpend.vars.data == false %}checked{% endif %}>
                                    <label class="custom-control-label" for="customRadio4"></label>
                                </div>
                            </div>

                            <div class="col-4 col-md-2 col-lg-3">
                                <h6 class="bold">I use</h6>
                            </div>

                            <div class="col-6 col-md-3 col-lg-2 num-input">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="£">
                                </div>
                            </div>


                            <div class="col-1 d-hide"></div>
                            <div class="col-4 col-md-1 col-lg-1 per-container">
                                <h6 class="bold form-per">per</h6>
                            </div>

                            <div class="col-6 col-md-4 col-lg-2 duration-selector">
                                <select class="form-control selector">
                                    <option>week</option>
                                    <option>month</option>
                                    <option>year</option>
                                </select>
                            </div>



                            <div class="col-12">
                                <div class="row night-usage-container">
                                    <div class="col-1 d-hide"></div>
                                    <div class="col-5 col-md-2 col-lg-2 offset-md-1 offset-lg-1 per-container">
                                        <h6 class="bold form-per">Night usage</h6>
                                    </div>

                                    <div class="col-5 col-md-3 col-lg-2 duration-selector">
                                        <select class="form-control selector">
                                            <option>0%</option>
                                            <option>5%</option>
                                            <option>10%</option>
                                            <option>15%</option>
                                            <option>20%</option>
                                            <option>25%</option>
                                            <option>30%</option>
                                            <option>35%</option>
                                            <option>40%</option>
                                            <option>45%</option>
                                            <option>50%</option>
                                            <option>55%</option>
                                            <option>60%</option>
                                            <option>65%</option>
                                            <option>70%</option>
                                            <option>75%</option>
                                            <option>80%</option>
                                            <option>85%</option>
                                            <option>90%</option>
                                            <option>95%</option>
                                            <option>100%</option>
                                        </select>
                                    </div>

                                    <div class="col-10 offset-2 offset-sm-0 col-md-6 col-lg-6">
                                        <p class="national-average">just use 42% if you're not sure(national average)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end of second question -->






                <div class="row">
                    <div class="col-12">
                        <h6>Not sure on your usage? <span>click here</span></h6>
                    </div>
                </div>



                <!-- first question -->
                <div class="row question-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 question-title">
                                <h5>Simple usage calculator (show if they click "not sure on your usage")</h5>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-12 col-md-6 col-lg-3">
                                <h6>Select your gas usage level (show only if they select "gas and electricity" or "gas only" on FORM-1</h6>
                            </div>
                            <div class="col-12 col-md-6 col-lg-7 radio-container">

                                <div class="row">
                                    <div class="col-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio66" name="customRadio10" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadio66"></label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <p class="radio-text">Low (small flat)</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio77" name="customRadio10" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadio77"></label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <p class="radio-text">Medium (house or large flat)</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio88" name="customRadio10" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadio88"></label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <p class="radio-text">High (large house)</p>
                                    </div>
                                </div>

                            </div>

                        </div>










                        <div class="row" id="electricity-usage">

                            <div class="col-12 col-md-6 col-lg-3">
                                <h6>Select your electricity usage level (only show if they select "gas and electricity" or electricity only on form-1</h6>
                            </div>
                            <div class="col-12 col-md-6 col-lg-7 radio-container">

                                <div class="row">
                                    <div class="col-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio22" name="customRadio043" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadio22"></label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <p class="radio-text">Low (small flat)</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio33" name="customRadio043" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadio33"></label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <p class="radio-text">Medium (house or large flat)</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio42" name="customRadio043" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadio42"></label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <p class="radio-text">High (large house)</p>
                                    </div>
                                </div>

                            </div>

                        </div>






                    </div>

                </div>
                <!-- end of first question -->


































                <!-- third question -->
                <div class="row question-row">
                    <div class="col-12 question-title">
                        <h5>How do you pay for your energy?</h5>
                        <p>Please select your payment type</p>
                    </div>


                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0">
                        <div class="form-group">
                            {{ form_widget(form.paymentType) }}
                        </div>
                    </div>

                </div>



                <!-- end of third question -->

                <div class="row question-row">
                    <div class="col-12 question-title">
                        <h5>Incase we ever need to get hold of you</h5>
                        <p>Don't worry, we will never share your phone number without your permission!</p>
                    </div>

                    <div class="col-12">

                        <div class="row question-row-inner">
                            <!--<div class="col-12 col-md-2">
                                <h6 class="row-title">Phone number</h6>
                            </div> -->
                            <!-- col-12 col-md-4 -->
                            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0">
                                {{ form_widget(form.phoneNumber) }}
                            </div>
                        </div>

                    </div>
                </div>


                <!-- next page button -->
                <div class="row question-row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-7 col-lg-5 offset-lg-7 col-xl-4 offset-xl-8">
                        {{ form_widget(form.submit) }}
                        <p class="next-lower-text">Nice one, let's see your results</p>
                    </div>
                </div>
                <!-- end of next page button -->

                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>

        <!-- end of main form content -->


        <!-- start of footer -->

        <div class="row" id="footer">
            <div class="col-12 text-center">
                <h4>If you get stuck, give us a a call on 0800 4211 3213</h4>
            </div>
        </div>
        <!-- end of footer -->

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/forms.js') }}"></script>
{% endblock %}
